/* Fonts */
@font-face
{
    font-family: 'getSchwifty';
    src: url('./v1.5/font/getSchwifty.ttf');
    src: url('./v1.5/fonts/getSchwifty.ttf') format('truetype'),
}

body {
  font-size: 0;
  margin: 0;
  background-image: url('./v1.5/images/backgroundImage.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
}

/* Loading Screen */


.loader-animation {
  animation: fade-out 0.9s ease-in-out both;
}

.loader {
  height:100vh;
  width: 100vw;
  background-color: black;
  color: white;
  background-image: url('./v1.5/images/loaderbackground.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
}

.loading {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 10%;
  text-align: left;
}

.spaceship {
  height: 75%;
  width: 8%;
  position: relative;
  left: -10%;
  -webkit-animation-name: flyby;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  animation-name: flyby;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-timing-function: linear;
}

@-webkit-keyframes flyby {
  from {left: -10%;}
  to {left: 110%;}
}
@keyframes flyby {
  from {left: -5%;}
  to {left: 110%;}
}

.enter {
  width: 100%;
  height: 100%;
  position: relative;
}

button.load-game-btn {
  height: 15vh;
  width: 25vh;
  background-color: rgba(255, 255, 255, 0);
  outline: none; 
  border: none;
  top: 35%;
  left: 50%;
  font-size: 50px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 9vh;
}

.portal {
  color: rgb(12, 196, 237);
  font-family: 'getSchwifty';
  font-weight: bold;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: rgb(0, 255, 8);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;    
}

.game-screen {
  animation: fade-in 0.9s ease-in-out both;
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    display: none;
  }
  100% {
    opacity: 0;
  }
}

/* Game screen */

.game-screen {
  font-size: 1rem;
  display: none;
}

.header-section {
  height: 18vh;
  font-size: 0;
  padding: 0;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  position: relative;
}

.logo-section {
  width: 13%;
  height: 100%;
  background-image: url('./v1.5/images/background.png');
  background-size: contain;
  background-repeat: no-repeat;

}

.title-section {
  font-family: 'getSchwifty';
  text-align: center;
  height: 100%;
  width: 87%;
  font-size: 7vh;
  position: absolute;
  right: 0;
  padding-top: 5vh;

}

.portal {
  color: rgb(12, 196, 237);
  font-family: 'getSchwifty';
  font-weight: bold;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: rgb(0, 255, 8);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;    
}

/* Title Glowing Animation */
@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(0, 255, 8), 0 0 20px rgb(0, 255, 8);
  }
  to {
    text-shadow: 0 0 20px rgb(24, 255, 32), 0 0 30px rgb(25, 255, 33)
}
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(0, 255, 8), 0 0 20px rgb(0, 255, 8);
  }
  to {
    text-shadow: 0 0 20px rgb(24, 255, 32), 0 0 30px rgb(25, 255, 33)
}
}

.nav-section {
  margin-top: 2vh;
  min-height: 5vh;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.nav-section div {
  height: 100%;
}

div .reset-game, .stats-btn {
  -webkit-text-stroke-color: rgb(0, 255, 8);
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;   
}

.active-mode {
  background-color: rgb(109, 109, 109) !important;
}

.game-section {
  height: 75vh;
  font-size: 0;
  padding: 0 .5%;
  text-align: center;
  padding: 2% 12%;
}

.card-container {
  display: inline-block;
  font-size: 1rem;
  position: relative;
  height: 31%;
  width: 15%;
}

.cards img {
  position: absolute;
  width: 65%;
  height: 90%;
  right: 10%;
  border: 1px solid white;
  border-radius: 5%;
}

.front-card {
  display: none;
}

.back-card-clicked {
  display: none;
}

/* Modal Section */

.open-modal {
  filter: blur(5px) grayscale(50%);
  -webkit-filter: blur(5px) grayscale(50%);
}

#stats-modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 300px;
  height: 500px;
  left: 50%;
  top: 20%;
  font-size: 0;
  text-align: center;
  border-radius: 15px;
  border: 2px solid rgb(26, 208, 26);
  transform: translateX(-50%);
  background-image: url('./v1.5/images/statsBack.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: rgb(0, 255, 8);
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;    
}

.modal-info, .modal-body {
  font-size: 1rem;
}

.modal-body {
  width: 100%;
}

.modal-info {
  height: 10%;
  text-align: center;
  position: relative;
}

.modal-title {
  height: 90%;
  font-size: 40px;
  font-family: 'getSchwifty';
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  padding-top: 15px;  
}

.close-btn {
  float: right;
  font-size: 30px;
  font-weight: bolder;
  width: 20%;
  height: 95%;
  position: absolute;
  right: 0;
  z-index: 1;
  padding-top: 5px;
  color: white;
}

.attempt-stat, .total-game-stat, .accuracy-stat {
  margin: 10%;
  color: white;
  font-size: 18px;
  font-family: 'getSchwifty';
}

.schwifty {
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: rgba(0, 255, 8, 0.646);
}

.modal-reset {
  border: 1px solid white;
  -webkit-text-stroke-color: rgb(0, 255, 8);
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;    

}

/* Media Screens */

@media only screen and ( max-width: 1450px ){
  .game-section {
    padding: 2% 6%;
  }
}
@media only screen and ( max-width: 1160px ){
  .game-section {
    padding: 2% 4%;
  }
}

@media only screen and ( max-width: 1024px ) and ( max-height: 1366px ){
  .logo-section {
    display: none;
  }
  .title-section {
    font-size: 6vh;
    width: 100%;
    padding-top: 1vh; 
  }  
  .game-section {
    padding-top: 5vh
  }
  .card-container {
    margin-top: 2vh;
    height: 16%;
    width: 19%;
  }
}

@media only screen and ( max-width: 1000px ){
  .logo-section {
    display: none;
  }
  .title-section {
    font-size: 7vh;
    width: 100%;
  }
  .game-section {
    padding: 2% 2%;
  }
  .card-container {
    margin-top: 0;
    height: 30%;
    width: 15%;
  }
}
@media only screen and ( max-width: 895px ){
  .title-section {
    font-size: 6.5vh;
    padding-top: 6vh;
  }
}
@media only screen and ( max-width: 830px ){
  .logo-section {
    display: none;
  }
  .title-section {
    font-size: 6vh;

  }
}

@media only screen and ( max-width: 800px ){
  .title-section {
    font-size: 6vh;
  }
  .game-section {
    padding: 2% 2%;
  }
  .card-container {
    height: 28%;
    width: 16%;
  }
}
@media only screen and ( max-width: 768px ) and ( max-height: 1024px) {
  .title-section {
    font-size: 5.5vh;
  }
  .game-section {
    padding: 2% 2%;
  }
  .card-container {
    margin-top: 4vh;
    height: 18%;
    width: 19%;
  }
  .cards img {
    width: 80%;
    height: 90%;
  }
}

@media only screen and ( max-width: 700px ){
  .title-section {
    font-size: 5vh;
  }
  .game-section {
    padding: 2% 0;
  }
  .card-container {
    margin-top: 0;
    height: 22%;
    width: 18%;
  }
}
@media only screen and ( max-width: 550px ){
  .title-section {
    padding-top: 4vh;
  }
  .game-section {
    padding: 2% 0;
  }
  .card-container {
    height: 20%;
    width: 21%;
  }
}
@media only screen and ( max-width: 420px ){
  .title-section {
    padding-top: 3vh;
  }
  .nav-section {
    margin-bottom: 3vh;
  }
  .game-section {
    height: 72vh;
  }
  .card-container {
    height: 19%;
    width: 22%;
  }
  .cards img {
    width: 70%;
    height: 90%;
  }
  #stats-modal {
    top: 10%;
  }
}
@media only screen and ( max-width: 380px ){
  .game-section {
    height: 72vh;
  }
  .card-container {
    width: 23%;
  }
  .cards img {
    position: absolute;
    width: 85%;
    height: 90%;
    right: 5%;
  }
  #stats-modal {
    top: 9%;
  }
}

@media ( max-width: 320px ){
  .game-section {
    height: 70vh;
  }
  .nav-section {
    margin-bottom: 2vh;
  }
  .game-section{
    height: 71vh;
  } 
  .card-container {
    height: 20%;
  }
  .cards img {
    width: 75%;
    height: 90%;
  }
  #stats-modal {
    padding-top: 5%;
    width: 250px;
    height: 450px;
    top: 6%;
    margin-top: 1vh;
  }
  .modal-title {
    font-size: 25px;
  }
  .attempt-stat h2 , .total-game-stat h2 , .accuracy-stat h2 {
    margin: 8%;
    font-size: 18px;
  }
  .modal-reset {
    width: 120px;
    margin-top: 5px;
  }
}

@media ( max-width: 300px ){
  .header-section {
    display: none;
  }
  .nav-section {
    margin-top: 0;
    border-top: none;
    margin-bottom: 4vh;
  }
  .game-section {
    height: 91vh;
  }
}